<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <a [routerLink]="['/']" class="brand-logo right">앵귤러 스터디</a>
            <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li><a [routerLink]="['/dependency']">의존성 주입과 제어권 역전</a></li>
                <li><a [routerLink]="['/provider']">인젝터와 프로바이더</a></li>
                <li><a [routerLink]="['/example']">의존성 주입 예제</a></li>
                <li><a [routerLink]="['/change']">프로바이더 변경하기</a></li>
                <li><a [routerLink]="['/injector']">인젝터의 계층 구조</a></li>
            </ul>
        </div>
    </nav>
</div>