<div class="section white">
  <div class="row container">
    <h2 class="header">
      4.3 의존성 주입 예제
    </h2>
    <div class="chapter">
      <span class="nanumpenscript">
        <h3 class="nomal w400">
          4.3.1 상품 서비스 주입하기
        </h3>
      </span>
      <span>
        <textarea highlight-js [options]="{}" [lang]="'typescript'">
            export class Product { //프로바이더에 등록하기 위해 export 키워드로 지정한다.
  constructor (public id : number,
    public title : string,
    public price : number,
    public description : string) {}
}

export class ProductService {
  getProduct () : Product { //Product클래스를 생성하여 반환한다.
    return new Product(0, "iPhone 8", 849.99, "The latest iPhone, 5.8-inch screen");
  }
}
            
        </textarea>
        <p class="code">
          코드 4.3.1 ProductService
        </p>
      </span>
      <span>
        <textarea highlight-js [options]="{}" [lang]="'typescript'">
          /* import 키워드로 사용하여 파일의 위치를 지정하여 해당 클래스를 불러온다. */
import { Component } from '@angular/core';
import { ProductService, Product } from '../services/product.service';

@Component({
  selector : 'di-product-page',
  template : `
    <div>
      <h1>Product Details</h1>
      <h2>Title : &#123; product.title &#125;</h2>
      <h2>Description : &#123; product.description &#125;</h2>
      <h2>Price : \$&#123; product.price &#125;</h2>
    </div>
  `,
  providers : [ProductService]
})
export default class ProductComponent {
  product : Product; //Product타입의 변수를 선언

  constructor (productService : ProductService) { //ProductService를 의존성 주입받는다.
    this.product = productService.getProduct(); //getProduct()함수를 실행시켜 product 변수에 값을 저장한다.
  }
}
        </textarea>
        <p class="code">
          코드 4.3.2 ProductComponent
        </p>
      </span>
    </div>

    <div class="chapter">
      <span class="nanumpenscript">
        <h3 class="nomal w400">
          4.3.2 HTTP 서비스 주입하기
        </h3>
      </span>
      <p class="text-ex">
        - @Injectable : 서비스가 또다른 의존성을 가지고 있을 때 의존성 주입과 관련된 메타데이터를
        만들기 위해 @Injectable 어노테이션을 사용한다.
      </p>
      <span>
        <textarea highlight-js [options]="{}" [lang]="'typescript'">
          import { Http } from '@angular/http';
import { Injectable } from '@angular/core';

@Injectable()
export class ProductService {
  constructor(private http : Http) { //Http 객체를 의존성 주입 받는다.
    const products = http.get('products.json'); //Http 객체의 get메서드를 이용하여 products.json파일에 있는 정보를 불러온다.
  }
  ...
}
        </textarea>
        <p class="code">
          코드 4.3.3 의존성의 의존성 사용 예
        </p>
      </span>
      <p class="text-ex">
        원래 의존성이 주입되는 시기는 의존성을 주입받는 클래스의 생성자가 실행될 때이다. 
        하지만 Http객체의 프로바이더는 HttpModule에서 다양한 형태로 정의하고 있으며 애플리케이션에서는
        이 모듈을 불러와서 사용하기만 하면 된다
      </p>

      <span>
        <textarea highlight-js [options]="{}" [lang]="'typescript'">
          import { HttpModule } from '@angular/http';
          ...
@NgModule({
  imports : [
  BrowserModule,
  HttpModule
  ],
  declarations : [AppComponent, ProductComponent]
  bootstrap : [AppComponent]
})
export class AppModule {}

        </textarea>
        <p class="code">
          코드 4.3.4 Http모듈 사용 예
        </p>
      </span>
    </div>
  </div>
</div>